{% extends "base.html" %}

{% block head %}
    <style>
    table#exif {
        margin-left: auto; 
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;

        border: 1px solid #000;
        border-collapse: collapse;
        border-spacing: 0;
    }
    table#exif tr.highlight{
        background-color: #FFFFBB;
    }

    table#exif td{
        border: 1px solid #000;
        padding: 5px 10px;
    }
    label.hint {
        font-size: 75%;
    }
    #progress {
        height: 18px;
        border: 1px solid #000;
        margin-top: 15px;
    }
    
    .bar {
        height: 18px;
        background: green;
    }
    input[type=file] {
        width: 120px;
        color: transparent;
    }
    #loading, #reset, #progress {
        display: none;
    }
    #reset {
        text-align: center;
    }
    #reset a {
        color: #000;
    }
    </style>

    <script>
    var uploaded = 0;
    
    String.prototype.repeat = function(times) {
       return (new Array(times + 1)).join(this);
    };
    
    function load_exif(data) {
        // place each exif line in table
        $.each(data, function(index, data_line){
            var added = false;

            $('#exif tr').each(function(index, table_line){
                if ($(table_line).find('td:first').text() === data_line[0]) {
                    $(table_line).append('<td>'+data_line[1]+'</td>');
                    added = true;
                    return false;
                }
            });
            if (!added) {
                var empty_td = '<td>&nbsp</td>'.repeat(uploaded);
                $('#exif tbody').append($('<tr><td>'+data_line[0]+'</td>'+empty_td+'<td>'+data_line[1]+'</td></tr>'));
            }
        });
        uploaded++;

        // add empty td to rows not found in this image's exif data
        $('#exif tr').each(function(index, table_line){
            if ($(table_line).find('td').length !== uploaded+1) {
                $(table_line).append('<td>&nbsp</td>');
            }
        });

        pressed();

        // hightlight rows with different values
        $('#exif tr').each(function(index, line){
            var to_highlight = false;
            var value = $(line).find('td:last').text();
            $(line).find('td').not(':first').not(':last').each(function(index, row){
                if ($(row).text() !== value)
                  to_highlight = true;
            });
            if (to_highlight)
                $(line).addClass('highlight');
        });
    }

    window.pressed = function(){
        var input = document.getElementById('fileUpload');
        var label = document.getElementById('fileLabel');
        if(input.value === "") {
            if (uploaded > 0) {
                fileLabel.innerHTML = "Choose next file";
            } else {
                fileLabel.innerHTML = "Choose file(s)";
            }
        } else {
            var theSplit = input.value.split('\\');
            fileLabel.innerHTML = theSplit[theSplit.length-1];
        }
    };

    </script>
{% endblock head %}

{% block content %}
  <p>Upload images to compare EXIF data.</p>
  <p>Supported formats: ARW, CR2, CRW, DNG, EXV, GIF, JP2, JPEG, MRW, NEF, ORF, PEF, PGF, PNG, PSD, RAF, RW2, SR2, SRW, TIFF</p>

  <input id="fileUpload" type="file" name="file" data-url="/api/v1/upload" onchange="pressed()" multiple>
  <label id="fileLabel">Choose file(s)</label>
  <label class="hint">(files will not be stored)</label>

  <div id="progress">
    <div class="bar" style="width: 0%;"></div>
  </div>

  <script>
  $(function () {
      $('#fileUpload').fileupload({
          dataType: 'json',
          start: function(e) {
              $('#exif').hide();
              $('#loading').show();
              $('#progress').show();
          },
          done: function(e, data) {
              if (data.result['exif'].length > 0) {
                  load_exif(data.result['exif']);
                  $('#reset').show();
              } else {
                  alert('Unsupported format!');
              }
              $('#exif').show();
              $('#loading').hide();
              $('#progress').hide();

          },
          progressall: function(e, data) {
              var progress = parseInt(data.loaded / data.total * 100, 10);
              $('#progress .bar').css('width', progress + '%');
          }
      });
  });
  </script>

  <p id="loading">Comparing, one moment please</p>
  <p id="reset"><a href="/">Reset</a></p>
  <table id="exif">
    <tbody></tbody>
  </table>
{% endblock content %}
